.netlify/
/*.tool.sh
.DS_Store
/.idea
/.build
/.build-doc
/.build-docs
/Packages
/*.xcodeproj
/Desolate.docc/.docc-build
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
